* {
    margin: 5px;
    padding: 2px;
}
/*Root Element for Color Palete*/
:root {
    --primary-color: #5bece7;
    --secondary-color: #20e9a9;
    --accent1-color: #B4F500;
    --aacent2-color: #47a3ffe1;
}
/*Headings*/
h1 {
    padding: 2px;
    background-color: var(--primary-color);
    opacity: 80%;
    color: black;
    font-family: "Inknut Antiqua", system-ui;
    font-weight: bolder;
    font-size: x-large;
    text-align: center;
}

h2 {
    padding: 5px;
    border-color: black;
    background-color: var(--secondary-color);
    color: black;
    font-family: "Inknut Antiqua", system-ui;
    font-weight: bolder;
    font-size: x-large;
}

/* paragraphs divided in classes*/
.main-paragraph {
    padding: 2px;
    margin: auto;
    border: 2px solid black;
    background-color: var(--aacent2-color);
    color: white;
    font-family: "Cormorant Garamond", system-ui;
    font-weight: bold;
    font-size: large;
}

.second-paragraph {
    padding: 2px;
    margin: auto;
    border: 2px solid black;
    background-color: var(--aacent2-color);
    color: white;
    font-family: "Cormorant Garamond", system-ui;
    font-weight: bold;
    font-size: large;
}

a {
    text-decoration: none;
}

/* Social Media logos*/
.sociallinks {
    text-align: justify;
}

/* Hero Container*/
.hero {
    position: relative;
}

.hero-img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 10%;
    width: 100%;
}

article {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

article img {
    float: right;
}