* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color: steelblue;
    --height: auto;
}

nav {
    background-color: var(--color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--color);
}

main img {
    width: 150px;
    height: var(--height);
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 0;
}

main {
    max-width: 850px;
}

aside {
    width: 35rem;
    border: 5px solid rgba(61, 124, 196, 0.84);
    background-color: #5d8ee158;
    color: black;
    text-align: justify;

}

aside img {
    width: 200px;
    height: var(--height);
}

aside h2 {
    position: absolute;
    top: 770px;
    left: 90px;
    color: white;
}

footer {
    margin-top: 20px;
    border-top: 2px solid rgb(0, 85, 183);
    text-align: center;

}
/*Class Selectors*/
.box {
    margin: 1rem;
    border: 2px rgba(61, 124, 196, 0.84);
    padding: 1rem;
    background-color: #5d8ee158;
    color: black;
}